type project
owners
    Mark Gray
authors 
    Mark Gray
projectUrl
    http://github.com/monkieboy/SeatBooking
iconUrl
    https://raw.githubusercontent.com/monkieboy/SeatBooking/master/docs/files/img/logo.png
licenseUrl
    http://github.com/monkieboy/SeatBooking/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    dd types
summary
    SeatBooking Dummy System
description
    Experimenting with the F# type system


